.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__contener{
        margin-top: 150px;
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 65px;
        padding: 0 24px;
    }
    &__text{
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
    }
    &__subtitle{
        font-family: "Playfair Display";
        font-size: 40px;
        font-weight: 700;
        color: #d2a364;
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &__input{
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 20px 0;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        border-bottom: 1.20px solid #fff;
        color: #fff;
        &:focus{
            outline: none;
        }
    }
    &__block{
        display: flex;
        margin-top: 20px;
        column-gap: 20px;
        align-items: center;
    }
    &__checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 1.2px solid #fff;
    }
    &__image{
        width: 17px;
    }
    &__faik{
        width: 17px;
        height: 17px;
        background-color: transparent;
    }
    &__info{
        font-weight: 100;
        font-size: 16px;
        color: #fff;
    }
    &__content{
        width: 100%;
        display: flex;
        justify-content: end;
    }
    &__button{
        background-color: transparent;
        border: 3px solid #d2a364;
        border-radius: 10px;
        padding: 20px 40px;
        font-weight: 700;
        font-size: 20px;
        color: #d2a364;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .main{
        &__text{
            font-size: 25px;
        }
        &__contener{
            margin-top: 77px;
        }
        &__subtitle{
            font-size: 36px;
        }
        &__info{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 420px){
    .main{
        &__contener{
            padding: 0 16px;
        }
        &__text{
            font-size: 18px;
        }
        &__subtitle{
            font-size: 25px;
        }
        &__block{
            column-gap: 10px;
        }
        &__info{
            font-size: 16px;
        }
        &__button{
            padding: 15px 30px;
            font-size: 18px;
            width: 100%;
        }
        &__input{
            font-size: 14px;
        }
    }
}